.Item {
    border: 1px solid black;
    width: 50%;
    margin: 0 auto;
    position: relative;
    min-height: 25px;
    text-align: left;
    line-height: 1.5;
    padding-top: 2px;
}
.ItemName{
    margin-left: 10px;
}

.Button{
    right: 0;
    position: absolute;
}
.Price{
    right: 10%;
    position: absolute;
}